.profile__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}




@media (max-width: 1045px) and (min-width: 320px) {
  .profile__info {
    width: 100%;
    flex-direction: column;
    align-content: center;
  }
} 


