.profile__block {
  display: flex;
  align-items: baseline;
  padding-bottom: 16px;
  max-width: 336px;
}

@media (max-width: 1045px) and (min-width: 320px) {
  .profile__block {
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 14px;
  }
} 