.profile {
  margin: 0px auto;
  width: calc(100% - 2*200px);
  box-sizing: border-box;
  display: flex;
  padding-top: 40px;
  padding-bottom: 51px;
  color: white;
}

@media screen and (max-width: 1279px) {
  .profile {
      width: calc(100% - 2*200px);
      margin-left: auto;
      margin-right: auto;
  }
} 

@media screen and (max-width: 1045px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 36px;
  }
} 

@media screen and (max-width: 520px) {
  .profile {
    width: calc(100% - 2*19px);
  }
}


