.profile__description {
  margin: 0;
  width: 100%;
  max-width: 336px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1045px) and (min-width: 320px) {
  .profile__description {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 36px;
  }
} 