.button_type_delete {
  background-image: url(../../../images/delete.svg);
  padding: 0;
  margin: 0;
  width: 18px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  }
  
  .button_type_delete:hover {
    opacity: 0.6;
  }
  
  @media (max-width: 865px) and (min-width: 320px) {
    .button_type_close {
    }
  }