.button_type_close {
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.button_type_close:hover {
  opacity: 0.6;
}

@media (max-width: 865px) and (min-width: 320px) {
  .button_type_close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}