.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2*200px);  
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0px 41px;
}



@media screen and (max-width: 1045px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 28px 0px 31px;
  }
}